body {
  background-image: url(img/clouds.png);
  background-position: center -100px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

body.top-clouds {
  background-position: center -300px !important;
}

body, input {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444;
  font-size: 21px;
  background-color: #fff;
  font-weight: 400;
}

h1 {
  font-size: 64px;
}

h1, h2, h3, h4 {
  font-weight: 600;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 28px;
}

.nav-link {
  font-size: 16px;
  color: #fff !important;
  padding: 0rem 1rem;
}

.navbar-brand img {
  width: 150px;
}

code {
  font-size: 14px !important;
}

.faq {
  margin-top: 100px;
}

.faq h2 {
  text-align: center;
  margin-bottom: 50px;
}

div.jumbotron {
  background-color: transparent;
  /* margin-top: -50px; */
}

div.runner {
  min-height: 300px;
  background-image: url(img/people-running.png);
  background-position: bottom center;
  background-size: contain;
  background-repeat: no-repeat;
}

div.support {
  min-height: 300px;
  background-image: url(img/people-support.png);
  background-position: bottom center;
  background-size: contain;
  background-repeat: no-repeat;
}

div.datacenter {
  min-height: 300px;
  background-image: url(img/people-datacenter.png);
  background-position: bottom center;
  background-size: contain;
  background-repeat: no-repeat;
}

div.postgrest {
  min-height: 300px;
  background-image: url(img/postgrest_heart.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.pricing .col .price span {
  font-size: 22pt;
  font-weight: bold;
}

.pricing .description {
  border-bottom: 1px solid #ccc;
  font-size: 14px;
  padding-bottom: 20px;
  padding-top: 10px;
}


.pricing ul {
  margin-top: 20px;
}


.pricing .btn {
  min-width: 200px;
}

/* .btn-primary {
  color: #fff;
  background-color: #4caf50;
  border-color: #4caf50;
  border-radius: 0px;
  
}
input.email {
  border: 2px solid #4caf50;
  padding: 11px;
} */


div.testimonials div.user img {
  width: 50px;
  border-radius: 50%;
}

div.testimonials div.user {
  text-align: center;
}

div.story>div.image {
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

ul {
  padding-left: 20px;
}

footer {
  margin-top: 50px;
  /* box-shadow: inset 0 10px 10px -5px #0d1116; */
  padding-top: 10px;
  /*     
  background-image: url(img/grass.jpg);
  background-position: center bottom;
  background-size: 100% 100%; */
  background-color: #949494;
}

footer a {
  color: #fafafa;
}

footer, footer p {
  color: #fafafa;
  /* color: rgba(255, 255, 255, 0.4); */
  font-size: 14px;
}

.features .material-icons {
  color: #28a745;
}

.features li, .pricing li, footer li {
  text-decoration: none;
  list-style: none;
}

.features li::before, .pricing li::before {
  font-family: "Material Icons";
  content: "\E876";
  margin-right: 5px;
  color: #28a745;
  margin-left: -26px;
}

.btn-group.plans .btn {
  background: none;
  color: #444;
  border: none;
  border-radius: 0;
  font-weight: bold;
  border-bottom: 2px solid #fff;
}

.btn-group.plans .btn.active {
  background: none;
  color: #444;
  border-bottom: 2px solid #28a745;
  border-top: none;
  border-left: none;
}

.btn-group.plans .btn:active {
  border: none;
}

div.scroll {
  text-align: center;
  margin-top: -130px;
  margin-bottom: 130px;
  display: none;
}

div.scroll span {
  display: block;
  width: 20px;
  height: 20px;
  margin-left: 50%;
  font-size: 30px;
  transform-origin: 0 0;
  transform: rotate(90deg);
  color: #444;
}

@media (max-width: 767px) {
  body {
    background-position: center top;
    background-size: contain;
    font-size: 14px;
  }
  .nav-link {
    color: #444 !important;
  }
  .creative .col {
    min-height: 200px;
  }
  .jumbotron {
    padding: 2rem 1rem;
  }
  .jumbotron .container {
    padding: 0px;
  }
  
  .container {
    max-width: 100%;
  }
  .scroll {
    display: none !important;
  }
  h1 {
    font-size: 28px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 16px;
  }
  footer {
    margin-top: 30px;
    font-size: 14px;
  }
  footer img {
    width: 70px;
  }
}

@media (min-width: 768px) {
  html, body {
    height: 100%;
  }
  
  footer {
    padding: 50px 15px;
  }
  p {
    color: #444;
    font-weight: 400;
  }
  div.jumbotron {
    min-height: 100%;
    height: 100%;
    padding: 0;
  }
  
  div.jumbotron>div.container {
    height: 100%;
  }
  div.jumbotron>div.container>div.creative {
    height: 50%;
  }
  div.jumbotron>div.container>div.copy {
    padding-top: 50px;
  }
  div.jumbotron>div.container>div.copy>div.col {
    max-width: 680px;
    white-space: nowrap;
    margin-left: auto;
    margin-right: auto;
  }
  .testimonials, .features, .onetwothree {
    margin-bottom: 200px;
  }
  div.vp {
    margin-bottom: 100px;
  }
  div.testimonials>h2 {
    padding-bottom: 50px;
    text-align: center;
  }
  
  .navbar {
    padding-left: 0px !important;
    
  }
  .mr-auto, .mx-auto {
    margin-left: auto !important;
    margin-right: 0 !important;
  }
  .app_link>a {
    border-left: 1px solid #fff;
  }
  .vertical-align {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  .pricing {
    margin-top: 40px;
  }
  .pricing h1 {
    margin-bottom: 50px;
    text-align: center;
    color: #fff;
    font-weight: normal;
  }
  .pricing .col {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .pricing ul {
    height: 300px;
  }
}